In [1]:
!pip install --upgrade openpyxl

Requirement already satisfied: openpyxl in c:\users\balu0\anaconda3\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\balu0\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [41]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
import pandas as pd

# Correct function to read an Excel file
data = pd.read_excel('credit-data-training.xlsx')

C:\Users\Balu0\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
data

,Credit-Application-Result,Account-Balance,Duration-of-Credit-Month,Payment-Status-of-Previous-Credit,Purpose,Credit-Amount,Value-Savings-Stocks,Length-of-current-employment,Instalment-per-cent,Guarantors,Duration-in-Current-address,Most-valuable-available-asset,Age-years,Concurrent-Credits,Type-of-apartment,No-of-Credits-at-this-Bank,Occupation,No-of-dependents,Telephone,Foreign-Worker
0,Creditworthy,Some Balance,4,Paid Up,Other,1494,£100-£1000,< 1yr,1,NaN,2.0,1,NaN,Other Banks/Depts,2,1,1,2,1,2
1,Creditworthy,Some Balance,4,Paid Up,Home Related,1494,£100-£1000,< 1yr,1,NaN,2.0,1,29.0,Other Banks/Depts,2,1,1,2,1,2
2,Creditworthy,Some Balance,4,No Problems (in this bank),Home Related,1544,NaN,1-4 yrs,2,NaN,1.0,1,42.0,Other Banks/Depts,2,More than 1,1,2,1,1
3,Creditworthy,Some Balance,4,No Problems (in this bank),Home Related,3380,NaN,1-4 yrs,1,NaN,1.0,1,37.0,Other Banks/Depts,2,1,1,2,1,1
4,Creditworthy,No Account,6,Paid Up,Home Related,343,NaN,< 1yr,4,NaN,1.0,1,27.0,Other Banks/Depts,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Creditworthy,No Account,60,No Problems (in this bank),Other,7418,£100-£1000,< 1yr,1,NaN,1.0,1,NaN,Other Banks/Depts,2,1,1,1,1,1
496,Creditworthy,No Account,60,No Problems (in this bank),Home Related,7418,£100-£1000,< 1yr,1,NaN,1.0,1,27.0,Other Banks/Depts,2,1,1,1,1,1
497,Creditworthy,No Account,60,No Problems (in this bank),Home Related,9157,£100-£1000,< 1yr,2,NaN,NaN,4,27.0,Other Banks/Depts,3,1,1,1,1,1
498,Creditworthy,Some Balance,60,No Problems (in this bank),Home Related,13756,£100-£1000,4-7 yrs,2,NaN,NaN,4,63.0,Other Banks/Depts,3,1,1,1,2,1
499,Non-Creditworthy,No Account,60,Paid Up,Home Related,14027,NaN,1-4 yrs,4,NaN,NaN,4,27.0,Other Banks/Depts,2,1,1,1,2,1

In [4]:
data['Credit-Application-Result'].unique()

array(['Creditworthy', 'Non-Creditworthy'], dtype=object)

In [5]:
label_mapping = {'Creditworthy':1, 'Non-Creditworthy':0}
data['Credit-Application-Result'] = data['Credit-Application-Result'].map(label_mapping)

In [6]:
data

,Credit-Application-Result,Account-Balance,Duration-of-Credit-Month,Payment-Status-of-Previous-Credit,Purpose,Credit-Amount,Value-Savings-Stocks,Length-of-current-employment,Instalment-per-cent,Guarantors,Duration-in-Current-address,Most-valuable-available-asset,Age-years,Concurrent-Credits,Type-of-apartment,No-of-Credits-at-this-Bank,Occupation,No-of-dependents,Telephone,Foreign-Worker
0,1,Some Balance,4,Paid Up,Other,1494,£100-£1000,< 1yr,1,NaN,2.0,1,NaN,Other Banks/Depts,2,1,1,2,1,2
1,1,Some Balance,4,Paid Up,Home Related,1494,£100-£1000,< 1yr,1,NaN,2.0,1,29.0,Other Banks/Depts,2,1,1,2,1,2
2,1,Some Balance,4,No Problems (in this bank),Home Related,1544,NaN,1-4 yrs,2,NaN,1.0,1,42.0,Other Banks/Depts,2,More than 1,1,2,1,1
3,1,Some Balance,4,No Problems (in this bank),Home Related,3380,NaN,1-4 yrs,1,NaN,1.0,1,37.0,Other Banks/Depts,2,1,1,2,1,1
4,1,No Account,6,Paid Up,Home Related,343,NaN,< 1yr,4,NaN,1.0,1,27.0,Other Banks/Depts,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,1,No Account,60,No Problems (in this bank),Other,7418,£100-£1000,< 1yr,1,NaN,1.0,1,NaN,Other Banks/Depts,2,1,1,1,1,1
496,1,No Account,60,No Problems (in this bank),Home Related,7418,£100-£1000,< 1yr,1,NaN,1.0,1,27.0,Other Banks/Depts,2,1,1,1,1,1
497,1,No Account,60,No Problems (in this bank),Home Related,9157,£100-£1000,< 1yr,2,NaN,NaN,4,27.0,Other Banks/Depts,3,1,1,1,1,1
498,1,Some Balance,60,No Problems (in this bank),Home Related,13756,£100-£1000,4-7 yrs,2,NaN,NaN,4,63.0,Other Banks/Depts,3,1,1,1,2,1
499,0,No Account,60,Paid Up,Home Related,14027,NaN,1-4 yrs,4,NaN,NaN,4,27.0,Other Banks/Depts,2,1,1,1,2,1

In [7]:
data['Account-Balance'].unique()

array(['Some Balance', 'No Account'], dtype=object)

In [8]:
label_mapping = {'Some Balance':1, 'No Account':0}
data['Account-Balance'] = data['Account-Balance'].map(label_mapping)

In [10]:
data['Payment-Status-of-Previous-Credit'].unique()

array(['Paid Up', 'No Problems (in this bank)', 'Some Problems'],
      dtype=object)

In [11]:
label_mapping = {'Paid Up':1, 'No Problems (in this bank)':2,'Some Problems':0 }
data['Payment-Status-of-Previous-Credit'] = data['Payment-Status-of-Previous-Credit'].map(label_mapping)

In [12]:
data['Purpose'].unique()

array(['Other', 'Home Related', 'Used car', 'New car'], dtype=object)

In [13]:
label_mapping = {'Home Related':1, 'Used car':2,'Other':0,'New car':3  }
data['Purpose'] = data['Purpose'].map(label_mapping)

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 20 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Credit-Application-Result          500 non-null    int64
 1   Account-Balance                    500 non-null    int64
 2   Duration-of-Credit-Month           500 non-null    int64
 3   Payment-Status-of-Previous-Credit  500 non-null    int64
 4   Purpose                            500 non-null    int64
 5   Credit-Amount                      500 non-null    int64
 6   Value-Savings-Stocks               202 non-null    object
 7   Length-of-current-employment       500 non-null    object
 8   Instalment-per-cent                500 non-null    int64
 9   Guarantors                         43 non-null     object
 10  Duration-in-Current-address        156 non-null    float64
 11  Most-valuable-available-asset      500 non-null    int64
 12  Age-years                          488 non-null    float64
 13  Concurrent-Credits                 500 non-null    object
 14  Type-of-apartment                  500 non-null    int64
 15  No-of-Credits-at-this-Bank         500 non-null    object
 16  Occupation                         500 non-null    int64
 17  No-of-dependents                   500 non-null    int64
 18  Telephone                          500 non-null    int64
 19  Foreign-Worker                     500 non-null    int64
dtypes: float64(2), int64(13), object(5)
memory usage: 78.3+ KB

In [15]:
data['Value-Savings-Stocks'].unique()

array(['£100-£1000', nan, '< £100'], dtype=object)

In [16]:
label_mapping = {'< £100':1, '£100-£1000':2,'nan':0  }
data['Value-Savings-Stocks'] = data['Value-Savings-Stocks'].map(label_mapping)

In [18]:
import numpy as np
data['Value-Savings-Stocks'] = data['Value-Savings-Stocks'].replace([np.inf, -np.inf], np.nan)  # Replace inf/-inf with NaN
data['Value-Savings-Stocks'] = data['Value-Savings-Stocks'].fillna(0).astype(int)  # Replace NaN with 0 and convert

In [20]:
data['Length-of-current-employment'].unique()

array(['< 1yr', '1-4 yrs', '4-7 yrs'], dtype=object)

In [21]:
label_mapping = {'< 1yr':1, '1-4 yrs':2,'4-7 yrs':3 }
data['Length-of-current-employment'] = data['Length-of-current-employment'].map(label_mapping)

In [22]:
data['Guarantors'].unique()

array([nan, 'Yes'], dtype=object)

In [23]:
label_mapping = {'nan':0, 'Yes':2}
data['Guarantors'] = data['Guarantors'].map(label_mapping)

In [24]:
import numpy as np
data['Guarantors'] = data['Guarantors'].replace([np.inf, -np.inf], np.nan)  # Replace inf/-inf with NaN
data['Guarantors'] = data['Guarantors'].fillna(0).astype(int)  # Replace NaN with 0 and convert

In [25]:
data['Duration-in-Current-address'].unique()

array([ 2.,  1., nan,  3.,  4.])

In [26]:
import numpy as np
data['Duration-in-Current-address'] = data['Duration-in-Current-address'].replace([np.inf, -np.inf], np.nan)  # Replace inf/-inf with NaN
data['Duration-in-Current-address'] = data['Duration-in-Current-address'].fillna(0).astype(int)  # Replace NaN with 0 and convert

In [27]:
data.drop(columns=['Length-of-current-employment'],inplace = True)

In [30]:
import numpy as np
data['Age-years'] = data['Age-years'].replace([np.inf, -np.inf], np.nan)  # Replace inf/-inf with NaN
data['Age-years'] = data['Age-years'].fillna(0).astype(int)  # Replace NaN with 0 and convert

In [31]:
data['Concurrent-Credits'].unique()

array(['Other Banks/Depts'], dtype=object)

In [32]:
data.drop(columns = ['Concurrent-Credits'],inplace = True)

In [33]:
data['No-of-Credits-at-this-Bank'].unique()

array(['1', 'More than 1'], dtype=object)

In [34]:
label_mapping = {'1':1, 'More than 1':2 }
data['No-of-Credits-at-this-Bank'] = data['No-of-Credits-at-this-Bank'].map(label_mapping)

In [36]:
x = data.drop(['Credit-Application-Result'],axis = 1)

In [37]:
x

,Account-Balance,Duration-of-Credit-Month,Payment-Status-of-Previous-Credit,Purpose,Credit-Amount,Value-Savings-Stocks,Instalment-per-cent,Guarantors,Duration-in-Current-address,Most-valuable-available-asset,Age-years,Type-of-apartment,No-of-Credits-at-this-Bank,Occupation,No-of-dependents,Telephone,Foreign-Worker
0,1,4,1,0,1494,2,1,0,2,1,0,2,1,1,2,1,2
1,1,4,1,1,1494,2,1,0,2,1,29,2,1,1,2,1,2
2,1,4,2,1,1544,0,2,0,1,1,42,2,2,1,2,1,1
3,1,4,2,1,3380,0,1,0,1,1,37,2,1,1,2,1,1
4,0,6,1,1,343,0,4,0,1,1,27,2,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,0,60,2,0,7418,2,1,0,1,1,0,2,1,1,1,1,1
496,0,60,2,1,7418,2,1,0,1,1,27,2,1,1,1,1,1
497,0,60,2,1,9157,2,2,0,0,4,27,3,1,1,1,1,1
498,1,60,2,1,13756,2,2,0,0,4,63,3,1,1,1,2,1
499,0,60,1,1,14027,0,4,0,0,4,27,2,1,1,1,2,1

In [38]:
y = data['Credit-Application-Result']

In [39]:
y

0      1
1      1
2      1
3      1
4      1
      ..
495    1
496    1
497    1
498    1
499    0
Name: Credit-Application-Result, Length: 500, dtype: int64

In [43]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [44]:
model = LogisticRegression()  # Create a logistic regression model
model.fit(X_train, y_train)   # Train the model

C:\Users\Balu0\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [45]:
y_pred = model.predict(X_test)  # Predict on test data

In [46]:
# Accuracy Score
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

# Classification Report
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

# Confusion Matrix
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.70

Classification Report:
              precision    recall  f1-score   support

           0       0.46      0.21      0.29        29
           1       0.74      0.90      0.81        71

    accuracy                           0.70       100
   macro avg       0.60      0.55      0.55       100
weighted avg       0.66      0.70      0.66       100


Confusion Matrix:
[[ 6 23]
 [ 7 64]]